
/*** General HTML definitions ***/

/*** idegaWeb WebFace CSS classes ***/

.wf_body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ECE9D8;
	/*background-color: #EEEEEE;*/
	margin: 0px;
}

.wf_body a {
	text-decoration: none;
  	font-weight: normal;
}

.wf_body a:hover {
	text-decoration: underline;
}

.wf_smalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.wf_headertext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.wf_color_red {
	color: red;
}

.wf_applicationpanel {
	border-spacing: 0px;
	padding-left: 4px;
	padding-top: 2px;
}

.wf_applicationleftcolumn {
	width: 240px;
	padding-right: 6px;
}

.wf_applicationrightcolumn {
	width: 700px;
}

.wf_simplebox {
	margin: 0px;
	border: 1px solid #848284;
	padding: 0px;
	/***border-style: double;***/
	width:100%;
}

.wf_simplebox .wf_titlebar {
	border-right-width: 0px;
	margin: 0px;
}

.wf_block{
	border: 1px solid #848284;
	/***border-style: double;***/
	/***width:100%;***/
	margin: 4px 4px 4px 4px;
}

.wf_blockmainarea {
	padding: 8px;
}

.wf_viewmenublockarea {
	padding: 0px;
	width: 100%;
}

.wf_titlebar {
	/***background-color: #5A5A5A;***/
	background-color: #ECE9D8;
	background-image: url(../icons/bluegradient1.gif);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #848284;
	border-bottom-color: #848284;
	border-left-color: #FFFFFF;
	height: 24px;
	width: 100%;
	margin:0px;
	background-repeat: repeat-y;
}

.wf_titlebar td {
	vertical-align: middle;
}

.wf_titlebartext {
	color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
}

.wf_toolbar {
	border-spacing: 0px;
	padding: 0px;
	float: right;
}

.wf_list {
	border-spacing: px;
	padding: 2px;
	width: 100%;
}

.wf_listtable {
	border-spacing: 0px;
	padding: 2px;
	width: 100%;
}

.wf_listnavigation {
	border-spacing: 0px;
	padding-left: 4px;
	padding-right: 4px;
	width: 100%;
}

.wf_listheading {
	background-color: #ffffff;
  	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
        color:#4a4a4a;
        padding-bottom:4px;
        text-align:left;
}

.wf_listevenrow {
	background-color: #ffffff;
}

.wf_listevenrow td {
	white-space: nowrap;
}

.wf_listevenrow:hover {
	background-color: #DDDDDD;
}

.wf_listoddrow {
	background-color: #f6f6f6;
}

.wf_listoddrow td{
	white-space: nowrap;
}

.wf_listoddrow:hover {
	background-color: #DDDDDD;
}

.wf_listlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
  	font-weight: normal;
        color:#414141;
}

.wf_listlink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
  	font-weight: normal;
        color:#414141;
}

.wf_listtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
  	font-weight: normal;
        color:#878787;
}

/***WFMenu***/

.wf_viewmenu {
	border-spacing: 1px;
	padding: 3px;
	/***width: 100%;***/
	margin: 1px 1px 1px 1px;
}

.wf_viewmenu .selected,.wf_viewmenu .selected, .wf_menuheader{
	padding: 4px 4px 4px 15px;
	vertical-align: middle;
	margin:0px;
	list-style: none;
}

wf_viewmenu .deselected .wf_viewmenu{
	padding: 0px 0px 0px 0px;
}

.wf_viewmenu .selected {
	border-top: 1px solid #848284;
	border-left: 1px solid #848284;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	background-color: #DDD8C4;
	color: #ffffff;
}

.wf_viewmenu .deselected a {
	color: black;
  	font-weight: normal;
}

.wf_viewmenu .deselected, .wf_menuheader{
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #848284;
	border-right: 1px solid #848284;
}

.wf_menuheader{
	font-weight: bold;
}

/***WFMenu***/
/*TabBar*/

.wf_tabbarmainarea {
	padding: 1.5em;
	background: #B0B29D;
	min-height: 300px;
	border-top: 2em solid #FFF3B3;
}

.wf_tabbar {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 33px;
	left: 7px;
	#width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

.wf_tabbar .selected a {
	color:white;
}

.wf_tabbar .selected, .wf_tabbarbuttondeselected
{
	display: inline;
	list-style: none;
}


.wf_tabbar .selected, .wf_tabbar .deselected a
{
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin-top: 1px;
	margin-right: 2px;
	text-align: center;
	font-family: tahoma;
	font-size: 85%;
	text-decoration: none;
	color: #333;
        font-weight:bold;
}

.wf_tabbar .selected, .wf_tabbar .deselected a:hover 
{
	border: 1px solid #666;
	border-bottom: none;
	background: #ECE9D8;
	padding-bottom: 6px;
	margin-top: 0;
}

.wf_tabbar .deselected a 
{
	background: #DBD7C1;
	border: 1px solid #AAA;
	border-bottom: none;
 
}

.wf_tabbar .deselected a:hover
{
	margin-top: 0;
	border-color: #666;
	background: #ECE9D8;
	padding-bottom: 5px;
}

/*End TabBar*/


.wf_panel {
	border-spacing: 0px;
	padding: 0px;
}

.wf_paneltable {
	border-spacing: 2px;
	padding: 0px;
	width: 100%;
}

.wf_inputcomponentrow td {
	background-color: #CCCCCC;
	padding: 5px;
}

.wf_inputheaderrow td {
  	font-weight: bold;
  	color:blue;
	padding-left: 5px;
	border: 1px dotted #FFFFFF;
}

.wf_inputcomponent {
	font-family: arial;
	font-size: 8pt;
	color: #000000;
	text-align: justify;
	border: 1 solid #000000;
}

.wf_selectonemenu {
	font-family: arial;
	font-size:8pt;
	color:#000000;
	text-align: justify; 
}
 
.wf_button { 
	color: #000000;
	font-size: 10px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: #000000; 
}

.wf_errormessages {
	padding: 6px;
}

.wf_errortext {
	color: #ff0000;
}

.wf_bannerbox {
	background-color: #000000;
	width: 100%;
	height: 24px;
	margin:0px;
}

.wf_bannerimg {
	/*src: url("http://idega.is/iw_cache/585_idega_logo.gif");*/
	/*** float: right; ***/
	position: absolute;
	left:500; top:0;	
}

.wf_bannertext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
	position: absolute;
	left:20; top:3;	
}

.wf_bannertext i {
	color: #FF9900;
	font-style: italic;
}

.wf_valign_middle {
	vertical-align: middle;
}

/*Bezel Begin*/

.wf_bezel
{
	margin: 10px;
	border: 1px solid #848284;
	padding: 30px;
        background-color:#C8C7BA;
}

/*Bezel End*/



/*Workspace Begin*/

.ws_head{
	position: absolute;
	top: 0px;
	left: 0;
	width: 55em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	width: 100%;
	height: 4em;
}

.ws_functionmenu{
	position:absolute;
	width:20em;
	top:4em;
	left:0em;
}

.ws_main{
	position:absolute;
	/***top:4em;***/
	/***left:20em;***/
	margin: 4em 0em 0em 20em;
}

.wf_workspacebar{
	background-color: #666666;
	color: white;
	height: 4em;
}

.wf_appdecor{
	margin: 0.5em;
	color: white;
	font-size: 11px;
	display:inline;
}

.wf_appdecor i{
	color: orange;
}

.wf_login{
	margin: 20px;
	color: white;
	font-size: 12px;
	display:inline;
}

/*Workspace End*/