/*** idegaWeb WebFace CSS classes ***/


/**WFBlock general definitions**/

.wf_block,.wf_frame{
	border: 1px solid #D7D7D7;
	/*margin: 0 4px 4px 0;*/
	margin: 4px 4px 4px 4px;
	padding: 0;
	background: #fff;
	position: relative;
}

.builder .wf_frame, .user .wf_frame {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0 !important;
	top: 80px;
	overflow: hidden;
}

.wf_frame .wf_blockmainarea {
	top: 0;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}

.wf_frame .wf_blockmainarea iframe {
	top: 0;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: auto !important;
}

div.wf_tabbarmainarea{
	padding: 30px 0 0;
	position: relative;
}

div.wf_titlebar{
	background: #FAFAFA;
	border: 1px solid #D7D7D7;
	border-width: 0 0 1px;
}
div.wf_titlebar img{
	float: right;
}
div.wf_titlebar div.wf_titlebar_icon img{
	float: left;
}

.wf_block .footer, .wf_block .buttons{
	background: #E8E8E8;
	border-top: 1px solid #D7D7D7;
	text-align: right;
	height: 30px;
	margin: 0px;
	padding: 5px 20px 5px 20px;
	width: auto;
}

.wf_block .footer .buttons{
	/**avoid duplication**/
	background:none;
	border: none;
	margin:0px;
	padding:0px;
}

.wf_block .footer *{

}

.wf_block .header{
	background: #FFFFFF;
	border-bottom: 1px solid #D7D7D7;
	border-width: 0 0 1px;
	height: 55px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.wf_block .header .name{
	position:relative;
	top: 7px;
	left: 7px;
	font-weight:bold;
}

.wf_block .header .description{
	position:relative;
	top: 15px;
	left: 15px;
	font-style:italic;
	font-size:10px;
}

.wf_smalltext {
	font-size: 0.9em;
}

.wf_headertext {
	font-size: 1.2em;
	font-weight: bold;
}

.wf_applicationpanel {
	border-spacing: 0px;
	padding-left: 2px;
	padding-top: 2px;
}

.wf_applicationleftcolumn {
	width: 240px;
	padding-right: 6px;
}

.wf_applicationrightcolumn {
	width: 700px;
}

.wf_simplebox {
	margin: 0px;
	border: 1px solid #848284;
	padding: 0px;
	width:100%;
}

/*
.wf_simplebox .wf_titlebar {
	border-right-width: 0px;
	margin: 0px;
}
*/


.wf_blockmainarea {
	padding: 8px 8px 8px 8px;
	background-color: #E8E8E8;
	margin: 0px 0px 0px 0px;
}

.wf_blockmainarea iframe{
	border:0px;
	margin: 0px 0px 0px 0px;
	padding:0px;
	width:100%;
	height:600px;
}

.wf_viewmenublockarea {
	padding: 0px;
	width: 100%;
}

/*
div.wf_titlebar, div.wf_toolbar{

}

.wf_titlebar * {
	vertical-align: middle;
	display:inline;
}

.wf_titlebar_text,.wf_titlebar .wf_titlebar_text {
	position:relative;
	top: 4px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	margin: 3px;
	padding: 4px;
	white-space:nowrap;
}

.wf_titlebar_icon{
	vertical-align: middle;
	padding: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.wf_titlebar .wf_titlebar_icon{
	float:left;
}

.wf_titlebar .wf_toolbar{
	float:right;
	margin:2px;
	padding:0px;
	height: 18px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.wf_toolbar * {
	display: inline-block;
	vertical-align: middle;
	margin: 2px;
	padding: 0px;
}
*/

.wf_list {
	background-color: #FFFFFF;
	padding: 0px;
	width: 100%;
}

.wf_list table {
	border-spacing: 0px;
	padding: 0px;
	width: 100%;
}

.wf_listnavigation {
	border-spacing: 0px;
	padding-left: 4px;
	padding-right: 4px;
	width: 100%;
}

.wf_list th {
	background-color: #ffffff;
  	font-weight: bold;
	font-size: 11px;
	color:#4a4a4a;
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
}

.wf_listheaderlink {
  	font-weight: bold;
	font-size: 11px;
	color:#4a4a4a;
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
	text-decoration:underline;
}

.wf_listheaderlink_clicked {
  	font-weight: bold;
	font-size: 11px;
	color: #7b4040;
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
	text-decoration:underline;
}

.wf_listheaderlink_clicked_descending {
  	font-weight: bold;
	font-size: 11px;
	color: #3b6f44;
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
	text-decoration:underline;
}

/*.wf_list .evenrow {
	background-color: #ffffff;
}*/

.wf_list .evenrow td,
.wf_list.scrollContainer .evenrow td{
	white-space: nowrap;
	border: 0px;
}

/*.wf_list .oddrow {
	background-color: #f6f6f6;
}*/

.wf_list .oddrow td,
.wf_list.scrollContainer .oddrow td{
	white-space: nowrap;
	border: 0px;
}

.wf_list table tbody tr td{
	height: 18px;	
}

.wf_list table tbody tr td,
.wf_list table thead tr th
{
	border: 0px;
	/*font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;*/
}

.wf_list table tbody tr.selected td{
	font-weight: bold;
}

.wf_list table tbody tr.selected td{
	background-color: #3d80df;
	/*border-left: 1px solid #346DBE;
	border-bottom: 1px solid #7DAAEA;*/
}

.wf_list table tbody tr.selected td,
.wf_list table tbody tr.selected td a{
	color: #ffffff;
}

.wf_list .evenrow {
	background-color: #fff;
}

/*.wf_list .evenrow:hover
{
	background-color: #DDDDDD;
}*/

.wf_list .oddrow {
	background-color: #edf3fe;
}

/*.wf_list .oddrow:hover
{
	background-color: #DDDDDD;
}*/

/*ScrollTable begin:*/

div.scrollContainer{
	clear: both;
	/*border: 1px solid #963;*/
	border: 0px;
	/*height: 285px;*/
	overflow: auto;
	/*width: 756px;*/
	width:auto;
}

/* WinIE 6.x needs to re-account for it's scrollbar. Give it some padding */
\html div.scrollContainer/* */ {
	padding: 0 16px 0 0;
	/*width: 740px;*/
}

/* clean up for allowing display Opera 5.x/6.x and MacIE 5.x */
html>body div.scrollContainer {
	height: auto;
	padding: 0;
}

/* Reset overflow value to hidden for all non-IE browsers. */
/* Filter out Opera 5.x/6.x and MacIE 5.x                  */
head:first-child+body div[class].scrollContainer {
	/*height: 285px;*/
	overflow: hidden;
	/*width: 756px*/
}

/* define width of table. IE browsers only                 */
/* if width is set to 100%, you can remove the width       */
/* property from div.scrollContainer and have the div scale */
div.scrollContainer table {
	float: left;
	width: 100%;
}

/* WinIE 6.x needs to re-account for padding. Give it a negative margin */
\html div.scrollContainer table/* */ {
	margin: 0 -16px 0 0;
}

/* define width of table. Opera 5.x/6.x and MacIE 5.x */
html>body div.scrollContainer table {
	float: none;
	margin: 0;
	/*width: 740px;*/
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */
head:first-child+body div[class].scrollContainer table {
	/*width: 756px;*/
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of scrollContainer has an overflow property set to auto */
div.scrollContainer thead.fixedHeader tr {
	position: relative;
	/* expression is for WinIE 5.x only. Remove to validate and for pure CSS solution      */
	top: expression(document.getElementById("scrollContainer").scrollTop);
	height: 22px;
}

div.scrollContainer thead.fixedHeader tr th{

}


/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* Filter out Opera 5.x/6.x and MacIE 5.x                                                 */
head:first-child+body div[class].scrollContainer table thead[class].fixedHeader tr {
	display: block;
}

div.scrollContainer thead tr {
	/*width:756px;*/
}

/* make the TH elements pretty */
div.scrollContainer thead.fixedHeader th {
	/*background: #C96;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left*/
}

/* make the A elements pretty. makes for nice clickable headers                */
div.scrollContainer thead.fixedHeader a,
div.scrollContainer thead.fixedHeader a:link, thead.fixedHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%;
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
div.scrollContainer thead.fixedHeader a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%;
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
/* Filter out Opera 5.x/6.x and MacIE 5.x                                                 */
head:first-child+body div[class].scrollContainer table tbody {
	display: block;
	/*height: 262px;*/
	overflow: auto;
	width: 100%;
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
div.scrollContainer tbody td, tbody tr.normalRow td {
	/*background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px*/
}

div.scrollContainer tbody tr.alternateRow td {
	/*background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px*/
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.      */
/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */
/* Add 16px to last TH for scrollbar padding                         */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors    */
head:first-child+body div[class].scrollContainer table thead[class].fixedHeader th {
	width: 30px;
	padding: 2px 4px 2px 3px;
}

head:first-child+body div[class].scrollContainer table thead[class].fixedHeader th + th {
	width: 300px;
	padding: 2px 4px 2px 3px;
}

head:first-child+body div[class].scrollContainer table thead[class].fixedHeader th + th + th {
	border-right: none;
	/*padding: 4px 4px 4px 3px;*/
	width: 150px;
	padding: 2px 4px 2px 3px;
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.      */
/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */
/* Add 16px to last TH for scrollbar padding                         */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors    */
head:first-child+body div[class].scrollContainer table tbody td {
	width: 30px;
	padding: 2px 4px 2px 3px;
}

head:first-child+body div[class].scrollContainer table tbody td + td {
	width: 300px;
	padding: 2px 4px 2px 3px;
}

head:first-child+body div[class].scrollContainer table tbody td + td + td {
	border-right: none;
	padding: 2px 4px 2px 3px;
	/*padding: 2px 4px 2px 3px;*/
	width: 150px;
}

/*IE7 ScrollTable quickfix*/

html* .scrollTable tr.oddrow{
	height: 1.5em !important;
}

html* .scrollTable tr.evenrow{
	height: 1.5em !important;
}

html* .scrollTable{
	overflow: auto !important;
}

/*IE7 ScrollTable quickfix ends*/

/*ScrollTable end:*/


/***WFMenu***/

/*
.wf_viewmenu {
	border-spacing: 1px;
	padding: 3px;
	margin: 1px 1px 1px 1px;
}

.wf_blockmainarea .wf_viewmenu {
	margin: 0px;
	padding:0px;
}

.wf_viewmenu .selected,.wf_viewmenu .deselected {
	padding: 4px 4px 4px 15px;
	vertical-align: middle;
	margin:0px;
	list-style-image: url(images/viewmenu_mainbullet2.png);
	list-style-position: inside;
}

.wf_viewmenu .deselected .wf_viewmenu {
	padding: 0px 0px 0px 0px;
	#background-image:none;
}

.wf_viewmenu .selected {
	background-color: none;
	color: #FFFFFF;
	background-image: url(images/blueover_tile2.gif);
	background-repeat: repeat;
}

.wf_viewmenu .deselected a {
	color: black;
}

.wf_viewmenu .deselected:hover,.wf_viewmenu .deselected a:hover {
	color: white;
}
.wf_viewmenu .deselected:hover{
	background-image: url(images/blueover_tile2.gif);
	background-repeat: repeat;
}


.wf_viewmenu * .wf_viewmenu *,.wf_viewmenu * .wf_viewmenu *:hover{
	display:inline;
	background:none;
	border:none;
	vertical-align: middle;
	margin:0px;
	padding:1px;
	list-style-image:none;
	list-style-type:disc;
	list-style-position: inside;
	font-size: 8px;
}


.wf_menuheader{
	display:inline;
}
*/
/***WFMenu***/

/*TabBar*/

.wf_tabbarmainarea {
	padding: 1.5em;
	min-height: 300px;
	border-top: 2em solid #FFF3B3;
}

/*
.wf_tabbar {
	margin: 0;
	padding: 0;
	#width: 45em; 
	width: 100%;
	height:24px;        
	background-image: url(images/greybar_tile.gif);
	background-repeat: repeat-x;
}

.wf_tabbar .selected a {
	margin-top: -2;
	background: #F2F2F2;
	padding-bottom: 5px;
        font-color: #4D4D4D;
}

.wf_tabbar .selected, .wf_tabbar .deselected {
	display: inline;
	list-style: none;
}

.wf_tabbar .selected, .wf_tabbar .deselected a {
	width: 7em;
	display: block;
	float: right;
	padding: 5px 0px;
	margin: 0px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	#font-weight:bold;
	border-left: 1px solid #C4C4C4;
}

.wf_tabbar .deselected a {
	#border-bottom: none;
	font-color: #4D4D4D;
	background-image: url(images/greybar_tile.gif);
	background-repeat: repeat-x;
}

.wf_tabbar .deselected a:hover {
	margin-top: -2;
	background-color: #F2F2F2;
	padding-bottom: 5px;
	font-color: #4D4D4D;
	#background-image: none;
}

/*End TabBar*/


.wf_panel {
	border-spacing: 0px;
	padding: 0px;
}

.wf_paneltable {
	border-spacing: 2px;
	padding: 0px;
	width: 100%;
}
.wf_inputcomponentrow td {
	background-color: #CCCCCC;
	padding: 5px;
}

.wf_inputheaderrow td {
  	font-weight: bold;
  	color:blue;
	padding-left: 5px;
	border: 1px dotted #FFFFFF;
}

.wf_inputcomponent {

}

.wf_selectonemenu {
	font-size:8pt;
	color:#000000;
	text-align: justify; 
}
 
.wf_button { 
	color: #000000;
	font-size: 10px;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: #000000; 
}

.wf_messages {
	padding: 10px;
	margin: 10px;
	border: 1px solid #A7A7A7;
    background-color: #F0F0E0;
}

.wf_messages .error {
	color: #ff0000;
	font-weight: bold;
}

.wf_bannerbox {
	background-color: #000000;
	width: 100%;
	height: 24px;
	margin:0px;
}

.wf_bannerimg {
	/*src: url("http://idega.is/iw_cache/585_idega_logo.gif");*/
	/*** float: right; ***/
	position: absolute;
	left:500px; top:0;
}

.wf_bannertext {
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
	position: absolute;
	left:20px; top:3px;	
}

.wf_bannertext i {
	color: #FF9900;
	font-style: italic;
}

.wf_valign_middle {
	vertical-align: middle;
}

/*Bezel Begin*/

.wf_bezel{
	margin: 10px;
	border: 1px solid #848284;
	padding: 30px;
    background-color:#C8C7BA;
}

/*Bezel End*/

/*Uploader Begin*/
.wf_webdav_upload{
      font-weight: bold;
	  font-size: 11px;
      color:#4a4a4a;
      margin:5px;
}

.wf_webdav_upload input{
     border: 1px solid #bbbbbb;
     margin-top:0px;
     margin-bottom:0px;
     margin-right:3px;
     margin-left:3px;
     display:inline;
}

.wf_webdav_upload .wf_webdav_upload_button{
}

/*Uploader End*/

/**WFBlock default Form styles**/

.wf_block .formitem{
	clear: both;
	padding-top: 2px;
}

.wf_block .formitem label{
	text-align: right; 
	width: 125px;
	float: left; 
	padding-right: 10px;
	padding-top: 2px;
	font-weight: bold;
}

.wf_block .buttons{
	border: 0px;
	border-top: 1px solid #D7D7D7;
}

/*ImageChooser:*/
.wf_imagechooser{
	position : relative;
	height : 150px;
}
.wf_imagechooser_left_box{
	margin-top : 5px;
	width : 200px;
	position:absolute;
	border : 1px solid #ABABAB;
}

.wf_imagechooser_right_box{
	margin-top : 5px;
	width : 150px;
	position:absolute;
	left : 230px;
	border : 1px solid #ABABAB;
}


.wf_imagechooser_line_long {
	padding-left: 10px;
}
.wf_imagechooser_line_long input{
	width : 330px;
}
.wf_imagechooser_line_short {
overflow:hidden;
}
.wf_imagechooser_line_short label{
	float: left;
	margin-top : 6px;
	width : 70px;
}
.wf_imagechooser_line_long label{
	float: left;
	margin-top : 6px;
	width : 70px;
}

.wf_imagechooser_line_short select{
float: left;
}

.wf_imagechooser_line_short input{
	width : 30px;
}

.wf_imagechooser_preview_button {
	width : 70px !important;
}

.wf_imagechooser_line{
	position: absolute;
	top : 130px;
	right : -5px;
}
.wf_imagechooser_preview {
	position : absolute;
	left : 500px;
	top : 0px;
	width : 200px;
}
#ipreview {
	margin-left : 0;
	width : 180px;
	height : 135px;
}

/**END WFBlock default Form styles**/