/*** idegaWeb WebFace CSS classes ***/


/**WFBlock general definitions**/

.wf_block,.wf_frame{
	border: 1px solid #D7D7D7;
	margin: 0 4px 4px 0;
	padding: 0;
	background: #fff;
	position: relative;
}
div.wf_tabbarmainarea{
	padding: 30px 0 0;
	position: relative;
}

div.wf_titlebar{
	background: #FAFAFA;
	border: 1px solid #D7D7D7;
	border-width: 0 0 1px;
}
div.wf_titlebar img{
	float: right;
}
div.wf_titlebar div.wf_titlebar_icon img{
	float: left;
}

.wf_block .footer, .wf_block .buttons{
	background: #E8E8E8;
	border-top: 1px solid #D7D7D7;
	text-align: right;
	height: 30px;
	margin: 0px;
	padding: 5px 20px 5px 20px;
	width: auto;
}

.wf_block .footer .buttons{
	/**avoid duplication**/
	background:none;
	border: none;
	margin:0px;
	padding:0px;
}

.wf_block .footer *{

}

.wf_block .header{
	background: #FFFFFF;
	border-bottom: 1px solid #D7D7D7;
	border-width: 0 0 1px;
	height: 55px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.wf_block .header .name{
	position:relative;
	top: 7px;
	left: 7px;
	font-weight:bold;
}

.wf_block .header .description{
	position:relative;
	top: 15px;
	left: 15px;
	font-style:italic;
	font-size:10px;
}

.wf_smalltext {
	font-size: 0.9em;
}

.wf_headertext {
	font-size: 1.2em;
	font-weight: bold;
}

.wf_applicationpanel {
	border-spacing: 0px;
	padding-left: 2px;
	padding-top: 2px;
}

.wf_applicationleftcolumn {
	width: 240px;
	padding-right: 6px;
}

.wf_applicationrightcolumn {
	width: 700px;
}

.wf_simplebox {
	margin: 0px;
	border: 1px solid #848284;
	padding: 0px;
	width:100%;
}

/*
.wf_simplebox .wf_titlebar {
	border-right-width: 0px;
	margin: 0px;
}
*/


.wf_blockmainarea {
	padding: 8px 8px 8px 8px;
	background-color: #E8E8E8;
	margin: 0px 0px 0px 0px;
}

.wf_blockmainarea iframe{
	border:0px;
	margin: 0px 0px 0px 0px;
	padding:0px;
	width:100%;
	height:600px;
}

.wf_viewmenublockarea {
	padding: 0px;
	width: 100%;
}

/*
div.wf_titlebar, div.wf_toolbar{

}

.wf_titlebar * {
	vertical-align: middle;
	display:inline;
}

.wf_titlebar_text,.wf_titlebar .wf_titlebar_text {
	position:relative;
	top: 4px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	margin: 3px;
	padding: 4px;
	white-space:nowrap;
}

.wf_titlebar_icon{
	vertical-align: middle;
	padding: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.wf_titlebar .wf_titlebar_icon{
	float:left;
}

.wf_titlebar .wf_toolbar{
	float:right;
	margin:2px;
	padding:0px;
	height: 18px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.wf_toolbar * {
	display: inline-block;
	vertical-align: middle;
	margin: 2px;
	padding: 0px;
}
*/

.wf_list {
	background-color: #FFFFFF;
	padding: 0px;
	width: 100%;
}

.wf_listtable {
	border-spacing: 0px;
	padding: 0px;
	width: 100%;
}

.wf_listnavigation {
	border-spacing: 0px;
	padding-left: 4px;
	padding-right: 4px;
	width: 100%;
}

.wf_listheading {
	background-color: #ffffff;
  	font-weight: bold;
	font-size: 11px;
	color:#4a4a4a;
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
}

.wf_listheaderlink {
	background-color: #ffffff;
  	font-weight: bold;
	font-size: 11px;
	color:#4a4a4a;
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
	text-decoration:underline;
}

.wf_listheaderlink_clicked {
	background-color: #ffffff;
  	font-weight: bold;
	font-size: 11px;
	color: #7b4040;
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
	text-decoration:underline;
}

.wf_listheaderlink_clicked_descending {
	background-color: #ffffff;
  	font-weight: bold;
	font-size: 11px;
	color: #3b6f44;
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
	text-decoration:underline;
}

.wf_listevenrow {
	background-color: #ffffff;
}

.wf_listevenrow td {
	white-space: nowrap;
}

.wf_listevenrow:hover {
	background-color: #DDDDDD;
}

.wf_listoddrow {
	background-color: #f6f6f6;
}

.wf_listoddrow td{
	white-space: nowrap;
}

.wf_listoddrow:hover {
	background-color: #DDDDDD;
}

.wf_listlink {
}

.wf_listlink:hover {
}

.wf_listtext {
}

/***WFMenu***/

/*
.wf_viewmenu {
	border-spacing: 1px;
	padding: 3px;
	margin: 1px 1px 1px 1px;
}

.wf_blockmainarea .wf_viewmenu {
	margin: 0px;
	padding:0px;
}

.wf_viewmenu .selected,.wf_viewmenu .deselected {
	padding: 4px 4px 4px 15px;
	vertical-align: middle;
	margin:0px;
	list-style-image: url(images/viewmenu_mainbullet2.png);
	list-style-position: inside;
}

.wf_viewmenu .deselected .wf_viewmenu {
	padding: 0px 0px 0px 0px;
	#background-image:none;
}

.wf_viewmenu .selected {
	background-color: none;
	color: #FFFFFF;
	background-image: url(images/blueover_tile2.gif);
	background-repeat: repeat;
}

.wf_viewmenu .deselected a {
	color: black;
}

.wf_viewmenu .deselected:hover,.wf_viewmenu .deselected a:hover {
	color: white;
}
.wf_viewmenu .deselected:hover{
	background-image: url(images/blueover_tile2.gif);
	background-repeat: repeat;
}


.wf_viewmenu * .wf_viewmenu *,.wf_viewmenu * .wf_viewmenu *:hover{
	display:inline;
	background:none;
	border:none;
	vertical-align: middle;
	margin:0px;
	padding:1px;
	list-style-image:none;
	list-style-type:disc;
	list-style-position: inside;
	font-size: 8px;
}


.wf_menuheader{
	display:inline;
}
*/
/***WFMenu***/

/*TabBar*/

.wf_tabbarmainarea {
	padding: 1.5em;
	min-height: 300px;
	border-top: 2em solid #FFF3B3;
}

/*
.wf_tabbar {
	margin: 0;
	padding: 0;
	#width: 45em; 
	width: 100%;
	height:24px;        
	background-image: url(images/greybar_tile.gif);
	background-repeat: repeat-x;
}

.wf_tabbar .selected a {
	margin-top: -2;
	background: #F2F2F2;
	padding-bottom: 5px;
        font-color: #4D4D4D;
}

.wf_tabbar .selected, .wf_tabbar .deselected {
	display: inline;
	list-style: none;
}

.wf_tabbar .selected, .wf_tabbar .deselected a {
	width: 7em;
	display: block;
	float: right;
	padding: 5px 0px;
	margin: 0px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	#font-weight:bold;
	border-left: 1px solid #C4C4C4;
}

.wf_tabbar .deselected a {
	#border-bottom: none;
	font-color: #4D4D4D;
	background-image: url(images/greybar_tile.gif);
	background-repeat: repeat-x;
}

.wf_tabbar .deselected a:hover {
	margin-top: -2;
	background-color: #F2F2F2;
	padding-bottom: 5px;
	font-color: #4D4D4D;
	#background-image: none;
}

/*End TabBar*/


.wf_panel {
	border-spacing: 0px;
	padding: 0px;
}

.wf_paneltable {
	border-spacing: 2px;
	padding: 0px;
	width: 100%;
}
.wf_inputcomponentrow td {
	background-color: #CCCCCC;
	padding: 5px;
}

.wf_inputheaderrow td {
  	font-weight: bold;
  	color:blue;
	padding-left: 5px;
	border: 1px dotted #FFFFFF;
}

.wf_inputcomponent {

}

.wf_selectonemenu {
	font-size:8pt;
	color:#000000;
	text-align: justify; 
}
 
.wf_button { 
	color: #000000;
	font-size: 10px;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: #000000; 
}

.wf_messages {
	padding: 10px;
	margin: 10px;
	border: 1px solid #A7A7A7;
    background-color: #F0F0E0;
}

.wf_messages .error {
	color: #ff0000;
	font-weight: bold;
}

.wf_bannerbox {
	background-color: #000000;
	width: 100%;
	height: 24px;
	margin:0px;
}

.wf_bannerimg {
	/*src: url("http://idega.is/iw_cache/585_idega_logo.gif");*/
	/*** float: right; ***/
	position: absolute;
	left:500; top:0;
}

.wf_bannertext {
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
	position: absolute;
	left:20; top:3;	
}

.wf_bannertext i {
	color: #FF9900;
	font-style: italic;
}

.wf_valign_middle {
	vertical-align: middle;
}

/*Bezel Begin*/

.wf_bezel{
	margin: 10px;
	border: 1px solid #848284;
	padding: 30px;
    background-color:#C8C7BA;
}

/*Bezel End*/

/*Uploader Begin*/
.wf_webdav_upload{
      font-weight: bold;
	  font-size: 11px;
      color:#4a4a4a;
      margin:5px;
}

.wf_webdav_upload input{
     border: 1px solid #bbbbbb;
     margin-top:0px;
     margin-bottom:0px;
     margin-right:3px;
     margin-left:3px;
     display:inline;
}

.wf_webdav_upload .wf_webdav_upload_button{
   #margin-left:3px;
}

/*Uploader End*/

/**WFBlock default Form styles**/

.wf_block .formitem{
	clear: both;
	padding-top: 2px;
}

.wf_block .formitem label{
	text-align: right; 
	width: 125px;
	float: left; 
	padding-right: 10px;
	padding-top: 2px;
	font-weight: bold;
}

.wf_block .buttons{
	border: 0px;
	border-top: 1px solid #D7D7D7;
}

/**END WFBlock default Form styles**/